
# Application
PORT=3015
NODE_ENV=production

# PostgreSQL Database Configuration
POSTGRES_USER=learnx_db
POSTGRES_PASSWORD=LearnX_Secret_DB_Pass_2026!
POSTGRES_DB=learnx_db

# Prisma Database Connection URL
# When running inside Docker Compose:
DATABASE_URL="postgresql://learnx_db:LearnX_Secret_DB_Pass_2026!@postgres:5432/learnx_db?schema=public"
# When running locally on host machine:
# DATABASE_URL="postgresql://learnx_db:LearnX_Secret_DB_Pass_2026!@localhost:5435/learnx_db?schema=public"

# Redis Configuration
REDIS_PORT=6394
# When running inside Docker Compose:
REDIS_URL="redis://redis:6379"
# When running locally on host machine:
# REDIS_URL="redis://localhost:6394"

# PgAdmin Web UI Configuration
PGADMIN_DEFAULT_EMAIL=admin@learnx.com
PGADMIN_DEFAULT_PASSWORD=adminLearnX123

# Default Admin Credentials
ADMIN_EMAIL=admin@learnx.com
ADMIN_PASSWORD=Password@123!
ADMIN_NAME=Super Admin
